body{
background-color:lightpink;
    background-size: cover;
    
}

h1{
    color:blueviolet;
    font-family: cursive;
}
canvas{
    animation-name:example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}